<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifttt.connect">
    <application>
        <activity android:name=".ui.AboutIftttActivity"
            android:theme="@style/AboutIfttt"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

</manifest>
