name: SDK unit tests

on: [push]

jobs:
  test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Run unit tests
        run: bash ./gradlew testDebug
